<table>
  <tbody>
    <tr>
      <th>Slack API URL</th>
      <td>
        <input type="text" id="settings_slack_api_url" value="<%= settings['slack_api_url'] %>" name="settings[slack_api_url]" placeholder="https://slack.com/api" size=120 >
      </td>
    </tr>
  </tbody>
</table>
